body{
  background-color: rgb(255, 192, 203);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding :20px;
  height: 100vh;
}
form{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding :2vw 4vw;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
  transition: all 1s;
}
form h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:orange;
  margin-bottom: 20px;
}
form input,textarea{
  border :0;
  margin :10px 0px;
  padding: 20px;
  outline:none;
  background-color: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
}
form button{
  background-color: white;
  border: 1px solid orange;
  border-radius: 30px;
  width: 100%;
  margin:20px auto 0;
  font-size:1rem;
  outline:none;
  font-weight: bold;
  color:#e65b00;
  padding :15px;
}
form button:hover{
  background-color: #e65b00;
  color:#ffff;
  border: 1px solid #e65b00;
}
img{
 width:200%;
 border-radius: 30px;
 animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes hanni{
  50%{
    transform: rotateZ(45deg);
  }
}
@media screen and (max-width:805px) {
  form{
    display:none;
  }
  img{
    transition: all 3s;
    animation: hanni;
    animation: infinite;
  }
}